[submodule "usermods/usecp256k1"]
	path = usermods/usecp256k1
	url = https://github.com/diybitcoinhardware/secp256k1-embedded.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
